**/__pycache__/
**/datadir/

*.log
*.tmp
*.swp
*.swo
*.bak

venv/
.env
.env.local

*.sqlite3
*.db
database.db

docker-compose.override.yml
*.dockerfile
.dockerignore

Pipfile
Pipfile.lock
poetry.lock

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
